.container{
width:700px;
margin:auto;
text-align:center;
font-family:Arial;
}

.form{
margin-bottom:20px;
}

input{
margin:5px;
padding:8px;
}

button{
padding:8px 12px;
margin:5px;
cursor:pointer;
background-color:#4CAF50;
color:white;
border:none;
}

.deleteBtn{
background-color:red;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th, td{
border:1px solid #ddd;
padding:10px;
}

th{
background-color:#f2f2f2;
}

.empty{
color:red;
font-weight:bold;
}
